<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="11" android:versionName="1.0.1" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.coloros.deeptesting" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="27"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application android:theme="  ?0x7 201523202" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:screenOrientation="portrait" android:supportsRtl="true" android:resizeableActivity="false">
        <activity android:name="com.coloros.deeptesting.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/apply_title" android:name="com.coloros.deeptesting.activity.ApplyActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/status_title" android:name="com.coloros.deeptesting.activity.StatusActivity" android:exported="false" android:screenOrientation="portrait"/>
        <service android:name="com.coloros.deeptesting.service.RequestService" android:exported="false"/>
        <receiver android:name="neton.client.config.NetonReceiver" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:exported="true">
            <intent-filter>
                <action android:name="oppo.intent.action.ROM_UPDATE_CONFIG_SUCCESS"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.oppo.usercenter.sdk.helper.UserCenterOperateReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.oppo.usercenter.account_login"/>
                <action android:name="com.oppo.usercenter.account_logout"/>
                <action android:name="com.oppo.usercenter.modify_name"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
